<div class='row text-center'>
  <h2>{{model.rental.name}}</h2>
  <p><strong>Daily Rate:</strong> {{model.rental.dailyRate}}</p>
</div>

<hr>

<div class='row'>
  {{create-booking booking=model save=(route-action 'save')}}
</div>
